<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.username.label }}</div>
        <div>{{ form.username() }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
